footer.footer
   .container.container_flex.footer__container
        .author
            | Made With Love By
            a.author__link(href="")  ComixZone
            |  All Right Reserved
        .social
            a.social__link(href="")
                img.social__icon(src=require("../images/facebook.svg"), alt="Icon")
            a.social__link(href="")
                img.social__icon(src=require("../images/instagram.svg"), alt="Icon")
            a.social__link(href="")
                img.social__icon(src=require("../images/twitter.svg"), alt="Icon")
