
header.header
    .logo
        //- a(href="#main-section").logo__item Rony School
        a(href="#main-section").logo__item
            img(src=require("../images/logo-white-notext.png"), alt="logo")
    nav.navigation
        ul.navigation__list
            li.navigation__item
                a(href="#about").navigation__link О Нас
            li.navigation__item
                a(href="#program").navigation__link Программа
            li.navigation__item
                a(href="#education").navigation__link Обучение
            li.navigation__item
                button.main-button Запись