doctype html
//lang ru/en
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" ,content="Baobei Центр иностранных языков")
    meta(name="robots" ,content="index, follow")
    link(rel="icon", href=require('./images/logo-white-notext.png'))
    title Baobei Центр иностранных языков
  body.body
    include _content/_header.pug
    include _content/_sections.pug
    include _content/_footer.pug
